<form name="addForm" ng-submit="postArticle()">
    <button id="no-preview" ng-click="switchView(1)">X</button>
    <h2>Add an item to your closet!</h2>
    <label>Step 1: Choose a photo</label>

    <input type="file" nv-file-select="" uploader="uploader" accept="'image/*'">
    <label>Step 2: Choose a category</label>
    <select name="selectlist" id="select" ng-model="article.article_type">
        <option>Top</option>
        <option>Bottom</option>
        <option>Shoes</option>
    </select>
    <label>Step 3: Name your item</label>
    <input type="text" name="picture" id ="item-name" placeholder="Fav pants" ng-model="article.article_name">
    <label>Step 4: Describe your item</label>
    <input type="textarea" name="desc" ng-model="article.article_desc" id="desc">
    <button type ="submit" ng-click="uploader.uploadAll()" id="add-btn">Add to closet</button>
</form>