<form name="addForm" ng-submit="postArticle()">
    <button id="no-preview" ng-click="switchView(1)">X</button>
    <h2>Add an item to your closet!</h2>
    <label>Step 1: Choose a photo</label>

    <input type="file" nv-file-select="" uploader="uploader" accept="'image/*'">
    <input type="button" ng-click="uploader.uploadAll()" value="button">

    <input type="text" name="photo" ng-model="article.image_path">
    <label>Step 2: Choose a category</label>
    <select name="selectlist" id="select" ng-model="article.article_type">
        <option>Top</option>
        <option>Bottom</option>
        <option>Shoe</option>
    </select>
    <label>Step 3: Name your item:</label>
    <input type="text" name="picture" id ="item-name" placeholder="Fav pants" ng-model="article.article_name">
    <input type="textarea" name="desc" ng-model="article.article_desc">
    <button type ="submit" class="">Add to closet</button>
</form>