
	<div class="view-title">Wardrobe</div>
<button class="outfit-btn" ng-click="togglePreview()" ng-if="home">New Outfit</button>

<div class="item-container">
	<div class="clothe" ng-repeat="article in articles" ng-click="onClickArticle(article)" ng-class="{ selected: article.article_id === outfit.topArticle.article_id || article.article_id === outfit.bottomArticle.article_id || article.article_id === outfit.shoes.article_id }" >
		<img ng-src="{{article.image_path}}">
		<h6>{{article.article_name}}</h6>
		<h6>{{article.article_type}}</h6>
	</div>

	<div class="clothe" ng-click="switchView(2)" ng-if="home">
		<div class="new-item">
			<p>+</p>
			<p>Add An Article of Clothing</p>
		</div>
	</div>
</div>
