<div class="form-container">
      <form name="addForm"ng-submit>
        <h2>Add an item to your closet!</h2>
        <label>Step 1: Choose a photo</label>
        <input type="file" name="picture" id ="file">
        <label>Step 2: Choose a category</label>
        <select name="selectlist" id="select">
          <option>pants</option>
          <option>shirt</option>
          <option>dress</option>
          <option>skirt</option>
          <option>shoes</option>
        </select>
        <label>Step 3: Name your item:</label>
        <input type="text" name="picture" id ="item-name" placeholder="Fav pants">
        <button type ="submit"class="">Add to closet</button>
      </form>
    </div>
    <div class="form-container">
      <form name="addForm"ng-submit>
        <h2>Add your OOTD!</h2>
        <label>Choose a top:</label>
        <input type="file" name="picture" id ="item-top">
        <label>Choose a bottom:</label>
        <input type="file" name="picture" id ="item-bottom">
        <label>Choose a shoe:</label>
        <input type="file" name="picture" id ="item-shoe">


        <button type ="submit"class="">Add to my outfits</button>
      </form>
    </div>
