<div id ="home">
  <h1 class ="home">Home</h1>
  <div class="home-container">
    <div class= "home-item">
      <p>Most Starred<p>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
    </div>
    <div class="home-item">
      <p>Trending<p>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>

    </div>
    <div class="home-item">
      <p>My Ratings<p>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
      <figure class="box-item"></figure>
    </div>
  </div>
</div>
