<div id ="home">
<h1 class ="home">Home</h1>
<div class="home-container">
  <div class= "box-container">
    <p>Most Starred</p>
    <div class="outfit" ng-repeat="outfit in outfits| limitTo:-5 | orderBy:'outfit_id'">
      <div class="img-buffer">
        <img ng-src="{{outfit.top.image_path}}">
        <img ng-src="{{outfit.bottom.image_path}}">
        <img ng-src="{{outfit.shoe.image_path}}">
      </div>

      <h6>{{outfit.outfit_name}}</h6>
      <p>{{outfit.outfit_desc}}</p>
      <p>Average Rating: {{outfit.total_score ? (outfit.total_score/outfit.total_votes).toFixed(1):0}} </p>
      <div class="rating">
            <span value="1" ng-click="addRating()">☆</span><span value="2" ng-click="addRating()">☆</span><span value="3" ng-click="addRating()">☆</span><span value="4" ng-click="addRating()">☆</span><span value="5" ng-click="addRating()">☆</span>
      </div>
    </div>

    </div>
  </div>
  <div class="home-container">
    <div class="box-container">
      <p>Trending</p>
      <div class="outfit" ng-repeat="outfit in outfits| limitTo:-5 | orderBy:'-outfit_id'">
  			<div class="img-buffer">
  				<img ng-src="{{outfit.top.image_path}}">
  				<img ng-src="{{outfit.bottom.image_path}}">
  				<img ng-src="{{outfit.shoe.image_path}}">
  			</div>

  			<h6>{{outfit.outfit_name}}</h6>
  			<p>{{outfit.outfit_desc}}</p>
  			<p>Average Rating: {{outfit.total_score ? (outfit.total_score/outfit.total_votes).toFixed(1):0}} </p>
        <div class="rating">
              <span value="1" ng-click="addRating()">☆</span><span value="2" ng-click="addRating()">☆</span><span value="3" ng-click="addRating()">☆</span><span value="4" ng-click="addRating()">☆</span><span value="5" ng-click="addRating()">☆</span>
        </div>
  		</div>
    </div>
  </div>

  <div class="home-container">
    <div class="box-container">
      <p>My Ratings</p>
      <div class="outfit" ng-repeat="outfit in outfits| limitTo:-5 | orderBy:'-outfit_id'">
  			<div class="img-buffer">
  				<img ng-src="{{outfit.top.image_path}}">
  				<img ng-src="{{outfit.bottom.image_path}}">
  				<img ng-src="{{outfit.shoe.image_path}}">
  			</div>

  			<h6>{{outfit.outfit_name}}</h6>
  			<p>{{outfit.outfit_desc}}</p>
  			<p>Average Rating: {{outfit.total_score ? (outfit.total_score/outfit.total_votes).toFixed(1):0}} </p>
        <div class="rating">
              <span value="1" ng-click="addRating()">☆</span><span value="2" ng-click="addRating()">☆</span><span value="3" ng-click="addRating()">☆</span><span value="4" ng-click="addRating()">☆</span><span value="5" ng-click="addRating()">☆</span>
        </div>
  		</div>

    </div>
  </div>

  <div class="home-container">
    <div class="box-container clearfix">
      <h3>Other Users</h3>

      <div class="user" ng-repeat="user in users">
        <img ng-src="{{user.thumbnail}}">
        <h4>{{user.user_name}}</h4>
        <p>{{user.user_desc}}</p>
      </div>
    </div>
  </div>
</div>
