<div id ="home">
<h1 class ="home">Community</h1>
<div class="home-container">
  <div class= "box-container">
    <p>Popular - Outfits with the highest score</p>
    <div class="item-container">
      <div class="outfit" ng-repeat="best in top" >
        <div class="img-buffer"ng-click="toggleModal(toggle)">
          <img ng-src="{{best.top.image_path}}">
          <img ng-src="{{best.bottom.image_path}}">
          <img ng-src="{{best.shoe.image_path}}">
        </div>

        <div>{{best.outfit_name}}</div>
        <p>{{best.outfit_desc}}</p>
        <p>Average Rating: {{best.total_score ? (best.total_score/best.total_votes).toFixed(1):0}}</p>
      </div>
    </div>

  </div>
  <div class="home-container">
    <div class="box-container">
      <p>Most Recent Outfits</p>

      <div class="item-container">
        <div class="outfit"  ng-repeat="newest in new">
    			<div class="img-buffer"ng-click="toggleModal(toggle)">
            <img ng-src="{{newest.outfit.top.image_path}}">
            <img ng-src="{{newest.outfit.bottom.image_path}}">
            <img ng-src="{{newest.outfit.shoe.image_path}}">
    			</div>

    	    <div>{{newest.outfit.outfit_name}}</div>
    			<p>{{newest.outfit.outfit_desc}}</p>
    			<p>Average Rating: {{newest.outfit.total_score ? (newest.outfit.total_score/newest.outfit.total_votes).toFixed(1):0}}</p>
    		</div>
      </div>
    </div>
  </div>

<!--   <div class="home-container">
    <div class="box-container">
      <p>My Ratings</p>
      <div class="item-container">
        <div class="outfit" ng-repeat="outfit in outfits| limitTo:-5 | orderBy:'-outfit_id'" ng-click="toggleModal(toggle)">
    			<div class="img-buffer">
    				<img ng-src="{{outfit.top.image_path}}">
    				<img ng-src="{{outfit.bottom.image_path}}">
    				<img ng-src="{{outfit.shoe.image_path}}">
    			</div>

    			<h6>{{outfit.outfit_name}}</h6>
    			<p>{{outfit.outfit_desc}}</p>
    			<p>Average Rating: {{outfit.total_score ? (outfit.total_score/outfit.total_votes).toFixed(1):0}} </p>
    		</div>
      </div>
    </div>
  </div>
 -->
  <div class="home-container">
    <div class="box-container clearfix">
      <h3>Other Users - Check their wardrobe out!</h3>
      <div class="item-container">
        <div class="user" ng-repeat="user in users" ng-click="getUser()">
          <img ng-src="{{user.thumbnail}}">
          <h4>{{user.user_name}}</h4>
          <p>{{user.user_desc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-display">
<outfit-modal show='modalShown' width='400px' height='350px'>
  <p>{{modal.outfit_name}}</p>
  <div class="modal-img">
    <img ng-src="{{modal.top.image_path}}">
    <img ng-src="{{modal.bottom.image_path}}">
    <img ng-src="{{modal.shoe.image_path}}">
    <p>Top: {{modal.top.article_name}}</p>
		<p>Bottom: {{modal.bottom.article_name}}</p>
		<p>Shoes: {{modal.shoe.article_name}}</p>
  </div>
</outfit-modal>
</div>
