<a ng-href="{{procWardrobe}}"><button>My Wardrobe</button></a>
<a ng-href="{{procOutfit}}"><button>My Outfits</button></a>

<div id="profile" ng-switch on="selection">
	<div id="view-panel">
		<div class="content" ng-switch="avswitch">
		    <div ng-switch-when="1" >
		        <ng-include src="'views/av-message.html'"></ng-include>
		    </div>
		    <div ng-switch-when="2">
		        <ng-include src="'views/av-form.html'"></ng-include>
		    </div>
		    <div ng-switch-when="3">
		        <ng-include src="'views/av-outfit.html'"></ng-include>
		    </div>
		</div>
	</div>

	<div id="item-panel">
		<div class="outfit" ng-repeat="outfit in outfits">	
			<div class="img-buffer">
				<img ng-src="{{outfit.top.image_path}}">
				<img ng-src="{{outfit.bottom.image_path}}">
				<img ng-src="{{outfit.shoe.image_path}}">
			</div>						
			
			<h6>{{outfit.outfit_name}}</h6>
			<p>{{outfit.outfit_desc}}</p>
			<p>Average Rating: {{outfit.total_score ? (outfit.total_score/outfit.total_votes).toFixed(1):0}} </p>
			<div class="rating">
            <span value="1" ng-click="addRating()">☆</span><span value="2" ng-click="addRating()">☆</span><span value="3" ng-click="addRating()">☆</span><span value="4" ng-click="addRating()">☆</span><span value="5" ng-click="addRating()">☆</span>
            </div>
		</div>
	</div>	

	<div id="item-panel">
		<div class="clothe" ng-repeat="article in articles" ng-click="select(article)" ng-class="{ selected: article.article_id === outfit.topArticle.id || article.article_id === outfit.bottomArticle.id || article.article_id === outfit.shoes.id }" >
			<img ng-src="{{article.image_path}}">
			<h6>{{article.article_id}}</h6>
			<h6>{{article.article_name}}</h6>
			<h6>{{article.article_type}}</h6>
			<p>{{article.article_desc}}</p>
		</div>
	</div>
</div>





