<a href="#!/profile/wardrobe"><button ng-click="getArticles()">My Wardrobe</button></a>
<a href="#!/profile/outfits"><button ng-click="getOutfits()">My Outfits</button></a>

<div id="profile" ng-switch on="selection">
	<div id="view-panel">
		<div class="content" ng-switch="avswitch">
		    <div ng-switch-when="1" >
		        <ng-include src="'views/av-message.html'"></ng-include>
		    </div>
		    <div ng-switch-when="2">
		        <ng-include src="'views/av-form.html'"></ng-include>
		    </div>
		</div>
		<img class="outfit-img" ng-src="{{outfit.topArticle.image_path}}">
		<img class="outfit-img" ng-src="{{outfit.bottomArticle.image_path}}">
		<img class="outfit-img" ng-src="{{outfit.shoes.image_path}}">
		<button ng-click="postOutfit()">Create Your Outfit!</button>
	</div>

	<div id="item-panel">
		<div class="outfit" ng-repeat="outfit in outfits">	
			<div class="img-buffer">
				<img ng-src="{{outfit.top.image_path}}">
				<img ng-src="{{outfit.bottom.image_path}}">
				<img ng-src="{{outfit.shoe.image_path}}">
				<button ng-click="addRating()">Add Rating</button>
			</div>						
			
			<h6>{{outfit.outfit_name}}</h6>
			<p>{{outfit.outfit_desc}}</p>
			<p>Average Rating: {{outfit.total_score ? outfit.total_score/outfit.total_votes:0}} </p>
		</div>
	</div>	

	<div id="item-panel">
		<div class="clothe" ng-repeat="article in articles" ng-click="select(article)" ng-class="{ selected: article.article_id === outfit.topArticle.id || article.article_id === outfit.bottomArticle.id || article.article_id === outfit.shoes.id }" >
			<img ng-src="{{article.image_path}}">
			<h6>{{article.article_id}}</h6>
			<h6>{{article.article_name}}</h6>
			<h6>{{article.article_type}}</h6>
			<p>{{article.article_desc}}</p>
		</div>
	</div>
</div>





