<div id="profile-container">
	<!-- <div class="left pull-left"> -->
		<div class="profile-user">
			<img ng-src="{{profile.profile_pic}}">
			<h3>{{profile.user_name}}</h3>
		</div>

	<!-- </div> -->

	<!-- <div class="right pull-right"> -->
	<div class="profile-info">
		<p id="bio">Hey, check out my wardrobe and shoot me a star if you like any of my outfits!</p>
		<div id="nav-buttons">
		
<!-- 			<button class="profile-btn" ng-click="switchView(3)" ng-if="home">Add</button> -->
		</div>
	</div>
</div>
