<div id="profile-container">
	<!-- <div class="left pull-left"> -->
		<div class="profile-user">
			<img src="images/josh.png">
			<h3>Joshua</h3>
		</div>

	<!-- </div> -->

	<!-- <div class="right pull-right"> -->
	<div class="profile-info">
		<p id="bio">Hey, check out my wardrobe and shoot me a star if you like any of my outfits!</p>
		<div id="nav-buttons">
			<a ng-href="{{procWardrobe}}"><button class="profile-btn">My Wardrobe</button></a>
			<a ng-href="{{procOutfit}}"><button class="profile-btn">My Outfits</button></a>
			<button class="profile-btn" ng-click="switchView(3)" ng-if="home">Add</button>
		</div>
	</div>
</div>
