<div class="all-links">
	<a ng-href="{{procOutfit}}"><button class="profile-nav">Out</button></a>	
</div>

<div id="outfit-preview" ng-if="preview">
	<span id="preview-wrapper"><img class="outfit-img" ng-src="{{outfit.topArticle.image_path}}"></span>
	<img class="outfit-img" ng-src="{{outfit.bottomArticle.image_path}}">
	<img class="outfit-img" ng-src="{{outfit.shoes.image_path}}">
	<input type="text" name="out-name" placeholder="Name Your Outfit!" ng-model="name.name" id="out-name">
	<button id="no-preview" ng-click="togglePreview()">X</button>
	<button id="make-outfit" ng-click="postOutfit()"> <div class="glyphicon"> +</div> Create!</button>
</div>

<div class="item-panel clearfix" ng-switch="avswitch">
    <div ng-switch-when="1" >
        <ng-include src="'views/av-view.html'"></ng-include>
    </div>
    <div ng-switch-when="2">
        <ng-include src="'views/av-form.html'"></ng-include>
    </div>
</div>