<div class="all-links">
	<button class="switch-nav" ng-click="switchView(1)">View</button>
	<a ng-href="{{procOutfit}}"><button class="profile-nav">Out</button></a>	
	<button class="switch-nav" ng-click="switchView(2)">Uplo</button>
</div>

<div class="item-panel clearfix">
    <div ng-switch-when="1" >
        <ng-include src="'views/av-view.html'"></ng-include>
    </div>
    <div ng-switch-when="2">
        <ng-include src="'views/av-form.html'"></ng-include>
    </div>
</div>

<!-- <div class="view-panel" ng-if="homeOrNo">
	<div class="content" ng-switch="avswitch">
	    <div ng-switch-when="1" >
	        <ng-include src="'views/av-message.html'"></ng-include>
	    </div>
	    <div ng-switch-when="2">
	        <ng-include src="'views/av-article.html'"></ng-include>
	    </div>
	</div>
</div> -->
