@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Satisfy');

* {
	font-size: 100%;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.clearfix {
  overflow: auto;
}

html, body {
	height: 100%;
}

body {
	background-color:#8b008b;
}

.primeFactors.ng-enter {
    animation: bounceIn 750ms;
}

.cardDisplay img.ng-enter {
    animation: fadeInLeft 650ms;
}

.cardDisplay img.ng-leave {
    animation: fadeOutDown 650ms;
}

div#nav-big {
	float: left;
	background-color: #E9B200;
	width: 200px;
	height: 2000px;
	padding: 10px;
	text-align: center;
	margin-right: 30px;
}

#nav-logo {
	font-size:3.5em;
	color:#8b008b;
	font-family:'Leckerli One', cursive;
}

.partition {
	border:1px solid black;
}

.partition-sm {
	width: 75%;
	border:1px solid black;
	margin:10px auto;
}

#user-img-small {
	width: 100px;
	height: 100px;
}

div#nav {
	display: none;
}

ul {
	list-style: none;
	padding: 0;
	font-size:1.5em;
}

ul a {
	color: #8b008b;
}

li {
	margin: 10px 0px;
}

#user-img-small {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:1px solid black;
	margin:5px auto;
}

#main-view {
	float: left;
	width: 80%;
}

.nav-icon {
	width: 70%;
	height: 70%;
}

.two {
	margin-right: 5px;
}

.capped {
	margin-top: 5px;
}

/*Top Bar - All Buttons/Links*/
.all-links {
	text-align: center;
}

.profile-nav {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: white;
}

.switch-nav {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: gray;
	margin-top: 20px;
}

/*Viewport-Clothing Items*/
#outfit-preview {
	position: relative;
	min-height: 110px;
	width: 50%;
	background-color: white;
	margin: 25px auto 10px;
	display: flex;
	justify-content: space-around;
}

.outfit-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: white;
	color: #8b008b;
	border:1.5px solid #8b008b;
	padding: 3px;
}

.outfit-img {
    width: 150px;
    height: 150px;
    margin: 5px 2px;
    border:3px dashed black;
	border-radius: 4px;
}

#out-name {
	position: absolute;
	left: 38%;
	top: -20px;
	border-radius:4px;
}

#make-outfit {
	margin-left: 10px;
	height: 50px;
	position: relative;
	top: 50px;
}

#no-preview {
	position: absolute;
	right: 10px;
	top: 5px;
	background-color: red;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 50%;
	color: white;
}

.item-panel {
	position: relative;
	width:95%;
	min-height: 500px;
	background-color: rgba(255,255,255, 1);
	margin: 10px auto;
	padding: 10px;
}

.item-panel form {
	text-align: center;
}

.item-panel input {
	margin: 0px auto;
}

#desc {
	display: block;
	margin: 10px auto;
}

#add-btn {
	background-color: white;
	padding: 3px;
	border: 1px solid black;
}

.view-title {
	font-size: 2em;
	font-variant: small-caps;
	text-align: center;
}

.item-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.clothe {
	background-color: rgba(	128, 128, 128, 0.3);
	width: 24%;
	max-width: 240px;
	height: 240px;
	margin: 5px 0px;
	padding: 6px;
}

.clothe img {
	width: 100%;
	height: 180px;
	display: block;
	margin:0px auto;
	background-color: black;
}

.new-item {
	border:3px dashed black;
	border-radius: 8px;
	text-align:center;
	height: 230px;
	margin-left: -8px;
	padding-top: 30px;
	margin:0px auto;
}

.new-item p:nth-child(1) {
	font-size:4em;
}

#view-panel {
	float:right;
	width: 35%;
	height: 500px;
	background-color: white;
	padding: 15px;
}

#outline {
	height: 468px;
	border: 5px dashed gray;
	border-radius: 8px;
	text-align: center;
	padding: 100px 10px;
}

.outfit {
	width: 23%;
	max-width: 200px;
	margin: 5px 0;
	padding:10px;
	background-color: rgba(	128, 128, 128, 0.3);
}

.img-buffer {
	position: relative;
	height: 150px;
	margin-bottom: 10px;
}

.outfit img:nth-child(1) {
	width: 100px;
	position: absolute;
	left: 0px;
}

.outfit img:nth-child(2) {
	width: 100px;
	position: absolute;
	left: 25px;
	top: 10px;
}

.outfit img:nth-child(3) {
	width: 100px;
	position: absolute;
	top: 20px;
	left:50px;
}

.outfit-form {
	text-align: center;
}

.outfit img {
	width: 100px;
}



.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 1.5em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #E9B200;
}

/*Home view */
div#home{
	padding: 10px;
}

.home{
	text-align: center;
	background-color: white;
	color:#8b008b;
	text-align: center;
	margin: 20px auto;
	font-family: 'Leckerli One', cursive;
	font-size: 60px;
	height: 80px;
}

.home-container{
	width: 100%;
	height: auto;
	border: 10px;
	background-color:white;
}

.box-container{
	margin: 10px auto;
  	padding: 10px;
}

.box-container > p {
	font-size: 1.5em;
	font-variant: small-caps;

}

.box-container:after{
	content: "";
	clear: both;
	display: table;
}

.box-item{
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	/* padding: 15px; */
	padding-bottom: 10px;
	display: inline-block;
	width: 200px;
	height: auto;
}

.box-item img{
  	width: 50%;
  	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

figcaption {
  	font-size: .9rem;
	color: #444;
  	line-height: 1.5;
}

.user {
	float: left;
	width: 150px;
	min-height: 75px;
}

/*form styles*/
#file, #select, #item-name, #item-top, #item-bottom, #item-shoe {
  display: block;
  width: 200px;
  height: 20px;
  margin: 10px auto;
}

.form-container{
  border: 10px solid darkMagenta;
  background-color: white;
  margin: 20px auto;
  width:30%;
  padding-left: 10px;
}

.selected {
	opacity: .5;
}

.selected::before {
	content: url('../images/checkMark.png');
	position: absolute;
	padding-left: 20px;
/*Custom directive modal styles */
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#808080;
  opacity: 0.6;
}

.ng-modal-dialog {
  background-color: #fff;
  box-shadow: 10px 10px #595554;
  border-radius: 4px;
  z-index:10000;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.modal-img img{
 border-radius: 4px;
 padding: 5px;
 width: 150px;
}

/*Profile Page*/
#profile-container{
  margin: 10px 20px;
  padding: 10px;
  width:414px;
  background-color: rgba(255,255,255, 0.9);
  margin: 80px auto;
  border:5px solid #E9B200;
}

.profile-user img {
	width: 180px;
	height: 200px;
	border-radius: 50%;
	display:block;
  	margin: 10px auto;
  	border:4px solid #8b008b;
}

.profile-user {
  text-align: center;
  color: #8b008b;
}

#bio {
  text-align: center;
  width:350px;
  padding: 0 14px 10px 14px;
  margin: 0 15px 10px;
}

button.profile-btn{
  background-color: pink;
  border-radius: 50%;
  width: 70%;
  padding:10px;
  color:#8b008b;
  margin: 0 5px;
  border: 1px solid white;
  background-color: #E9B200;
}

#nav-buttons{
	margin: 10px auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

#nav-buttons a {
	display: inline-block;
	text-decoration: none;
	color: #8b008b;
	font-size:1.5em;
	font-variant:small-caps; 
}

button.yellow {
	background-color:#E9B200;
	border: 3px solid #8b008b;
}

button.yellow.ng-mouseover {
	animation: pulse 500ms;
}