@media screen and (min-width: 501px) and (max-width: 899px) {

	div#nav-big {
		width: 120px;
		padding: 7px;
		text-align: center;
		margin-right: 30px;
	}

	#nav-logo {
		font-size:2.5em;
		color:#8b008b;
		font-family:'Leckerli One', cursive;
	}

    #main-view {
    	width: 70%;
    }

	.item-panel {
		width: 92%;
	}

	#outfit-preview {
		width: 92%;
	}

    .clothe {
    	width: 48%;
    }

    .outfit {
    	width: 44%;
    }
}