@media (max-width: 500px) {

    div#nav {
    	display: none;
    }

    .all-links {
    	text-align: center;
    	margin-bottom: 15px;
    }

	.all-links a {
    	display: inline-block;
    }

    .all-links {
    	display: flex;
    	justify-content: space-around;
    }

    #main-view {
    	float: none;
    	width: 100%;
    }

    .item-panel {
    	float: none;
    	width: 95%;
    	margin:0px auto;
    	padding:5px;
        display: flex;
        justify-content: space-around;
    }

    .view-panel {
    	display: none;

    }

    /*Article*/
    #outfit-preview {
        position: relative;
        min-height: 110px;
        width: 98%;
        background-color: white;
    }

    #make-outfit {
        top: 30px;
    }

    .outfit-img {
        width: 96px;
        height: 96px;
    }

    #no-preview {
        width: 30px;
        height: 30px;
    }

    .clothe {
    	width: 160px;
    }


/*Outfit*/
	.outfit {
		width: 160px;
		padding:5px;
	}

}
/*Profile View*/



/*.profile-img img{
  width:51%;
  height:200px;



}*/
/*#profile-container {
	width: 410px;
	height: 300px;
	background-color: white;
	margin: 10px 20px;
	padding: 10px;
}*/

/*.left {
	float: left;
	width: 45%;
}*/
#profile-container{
  margin: 10px 20px;
	padding: 10px;
  width:414px;
  background-color: rgba(255,255,255,0.5);
  margin: 80px auto;
}

.profile-user img {
	width: 180px;
	height: 200px;
  border-radius: 50%;
  display:block;
  margin: 10px auto;
}

.profile-user{
  text-align: center;
}

.profile-user h3{
  color:white;
}

#bio{
  text-align: center;
  width:350px;
  color:white;
  padding: 0 14px 10px 14px;
  margin: 0 15px 10px;
}

#nav-buttons{
  margin: 10px auto;
  text-align: center;
  width:410px;
}

#nav-buttons a {
  display: inline-block;
  text-decoration: none;
}

button.profile-btn{
  background-color: pink;
  border-radius: 50%;
  width: 70%;
  padding:10px;
  color:white;
  margin: 0 5px;
  border: 1px solid white;
  background-color: #E9B200;
}

button:nth-child(3){
  border-radius: 50%;
  width:30%;
  display: inline-block;
  width: 15%;
  display: inline-block;
  padding-bottom: 8%;
  text-align: center;
}

/*.right {
	float: right;
	width: 45%;
}*/
