@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}

/*Profile View*/

#main-view {
	float: left;
	width: 80%;
}

/*.profile-img img{
  width:51%;
  height:200px;



}*/
/*#profile-container {
	width: 410px;
	height: 300px;
	background-color: white;
	margin: 10px 20px;
	padding: 10px;
}*/

/*.left {
	float: left;
	width: 45%;
}*/
#profile-container{
  margin: 10px 20px;
	padding: 10px;
  width:410px;
}


.profile-user img {
	width: 180px;
	height: 200px;
  border-radius: 50%;
  display:block;
  margin: 10px auto;
}
.profile-user{
  text-align: center;
}
#bio{
  text-align: center;
  width:350px;
  color:grey;
}
#nav-buttons{
  margin: 10px auto;
  text-align: center;
}

#nav-buttons a{
  display: inline-block;
  text-decoration: none;
  color:white;

}

button:nth-child(3){
  background-color:pink;
  color:white;
  border-radius: 50%;

}

/*.profile-btn{
  background-color:pink;
  width:70%;
  color:white;
  border-radius: 50%
}*/
a > button.profile-btn{
  background-color: pink;
  border-radius: 50%;
  width: 60%;
}
/*.right {
	float: right;
	width: 45%;
}*/
