@media (max-width: 500px) {

    div#nav {
    	display: none;
    }

    .all-links {
    	text-align: center;
    	margin-bottom: 15px;
    }

	.all-links a {
    	display: inline-block;
    }

    .all-links {
    	display: flex;
    	justify-content: space-around;
    }

    #main-view {
    	float: none;
    	width: 100%;
    }

    .item-panel {
    	float: none;
    	width: 90%;
    	margin:0px 8px;
    	padding:5px;
    }

    .view-panel {
    	display: none;

    }

    .clothe {
    	width: 160px;
    }

}